@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }
  
  body {
    @apply bg-background text-text-main font-sans antialiased overflow-hidden;
  }

  /* Cyber-Glass Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-background;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-surface rounded-full border border-background;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-600;
  }
}

/* Glassmorphism Utility */
.glass-panel {
  @apply bg-surface-glass backdrop-blur-md border border-white/10 shadow-xl;
}